spring:
  application:
    name: msvc-products

  datasource:
    url: jdbc:postgresql://${DB_HOST:localhost}:${DB_PORT:5432}/inventorydb
    username: ${DB_USER:postgres}
    password: ${DB_PASSWORD:postgres}
    driver-class-name: org.postgresql.Driver
    hikari:
      maximum-pool-size: 10

  jpa:
    show-sql: true
    open-in-view: false
    hibernate:
      ddl-auto: update

server:
  port: ${PORT:8081}

logging:
  level:
    com.arka_proyect.msvc_products: DEBUG

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
  instance:
    prefer-ip-address: true
    instance-id: ${spring.application.name}:${spring.cloud.client.ip-address}:${server.port}

app:
  report:
    base-path: ./reports/
