spring:
  application:
    name: msvc-products

  datasource:
    url: jdbc:postgresql://localhost:5432/inventorydb
    username: postgres
    password: 100juanU
    driver-class-name: org.postgresql.Driver

  jpa:
    show-sql: true
    open-in-view: false
    hibernate:
      ddl-auto: update

server:
  port: 8086

logging:
  level:
    com.arka_proyect.msvc_products: DEBUG

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
  instance:
    prefer-ip-address: true
    instance-id: ${spring.application.name}:${spring.cloud.client.ip-address}:${server.port}

app:
  report:
    base-path: ./reports/
